*{
margin:0;
padding:0;
}
body{
font-family:sans-serif;
display: flex;
justify-content:center;
align-items:center;
background:#000;
min-height:100vh;
}
button{
font-size:130px;
font-weight:200px;
color:orange;
background-color:black;
padding:40px 60px 55px;
border:4px solid orange;
cursor:pointer;
}
button:hover{
opacity:.8;
color:yellow;
border:4px solid yellow;
transform:translateY(-20px);
transition:all 1s ease;
box-shadow: 0 40px 60px -20px  yellow;
}



